*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gui/dressup/gui-export/zz3d.dressup.gui.zip
/gui/dressup/gui-export/zz3d.dressup.gui@res.zip
/gui/dressup/gui/恢复_resource.fla
/gui/gui-export/zz3d.dressup.gui.zip
/gui/gui-export/zz3d.dressup.gui@res.zip
/gui/gui/恢复_resource.fla
/app/src/main/assets/zz3d.dressup.gui@res.zip
/app/src/main/assets/1.png
/app/src/main/assets/bg01.png
/app/src/main/assets/bg02.png
/app/src/main/assets/bg03.png
/app/src/main/assets/bg04.png
/app/src/main/assets/bg05.png
/app/src/main/assets/frame02.swf
/app/src/main/assets/map.json
/app/src/main/assets/xxxx.zip
/app/src/main/assets/zz3d.dressup.gui.zip
/app/src/main/assets/META-INF/AIR/extensions/pub.ane.Publisher/META-INF/ANE/Android-ARM/catalog.xml
/app/src/main/assets/META-INF/AIR/extensions/pub.ane.Publisher/META-INF/ANE/Android-ARM/library.swf
/app/src/main/assets/META-INF/AIR/extensions/pub.ane.Publisher/META-INF/ANE/extension.xml
/app/src/main/assets/META-INF/AIR/extensions/pub.ane.Publisher/catalog.xml
/app/src/main/assets/META-INF/AIR/extensions/pub.ane.Publisher/library.swf
/flash/bin-debug
/flash/anes/*.ane
/flash/*.apk
/editor/bin-debug
/resources
